.big_container{
    width: 416px;
  height: 748px;
  margin-top: 42px;
  margin-left: 432px;
  border-radius: 43px;
  background: #192A32;
  }
  
  .inner_container{
    width: 318px;
  height: 444px;
  margin-top: 194px;
  margin-left: 81px;
  }
  
  .box{
    width: 86px;
  height: 39px;
  top: 194px;
  left: 597px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #1F3540;
  font-family: DM Sans , 'sans-serif';
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #A8BEC9;
  }
  
  .refresh{
    width: 32px;
  height: 31px;
  top: 202px;
  left: 767px;
  border-radius: 5px;
  background: #A7BDC8;
  box-shadow: 0px 4px 4px 0px #00000040;
  }
  
  .design{
    width: 86px;
  height: 86px;
  border-radius: 10px;
  background: #1F3540;
  box-shadow: 0px 4px 4px 0px #00000040;
  align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .pos_text{
    margin-top: 30px;
    font-size: 40px;
    color: #F7B336;
    font-weight: 500;
  }
  
  .win{
    width: 270px;
  height: 49px;
  border-radius: 10px;
  background: #A8BEC9;
  font-family: DM Sans , 'sans-serif';
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #1E1E1E;
  }
  
  .you{
    width: 86px;
  height: 49px;
  border-radius: 10px;
  background: #31C4BE;
  }
  
  .tie{
    width: 86px;
  height: 49px;
  border-radius: 10px;
  background: #A8BEC9;
  }
  
  .computer{
    width: 86px;
  height: 49px;
  border-radius: 10px;
  background: #F2B237;
  }
  
  .first_line{
    font-family: DM Sans , 'sans-serif';
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: #1E1E1E;
  margin-top: 5px;
  }
  
  .score{
    margin-left: 35px;
    font-family: DM Sans , 'sans-serif';
  font-size: 20px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E1E1E;
  }
  
  .quit{
    width: 113px;
  height: 33px;
  border-radius: 10px;
  background: #F2B237;
  font-family: DM Sans , 'sans-serif';
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #192A32;
  }
  
  .Quit{
    margin-top: 5px;
  }
  
  .next_round{
    width: 113px;
  height: 33px;
  border-radius: 10px;
  background: #31C4BE;
  font-family: DM Sans , 'sans-serif';
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #192A32;
  
  }